@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
    --font-mono: JetBrains Mono, ui-monospace, monospace;
    --font-serif: Noto Serif, ui-serif, serif;
    --radius: 0.5rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-chart-scale-pattern-color: var(----chart-scale-pattern-color);
    --color-chart-scale-05: var(----chart-scale-05);
    --color-chart-scale-04: var(----chart-scale-04);
    --color-chart-scale-03: var(----chart-scale-03);
    --color-chart-scale-02: var(----chart-scale-02);
    --color-chart-scale-01: var(----chart-scale-01);
    --color-chart-label: var(----chart-label);
    --color-chart-marker-foreground: var(----chart-marker-foreground);
    --color-chart-marker-border: var(----chart-marker-border);
    --color-chart-marker-background: var(----chart-marker-background);
    --color-chart-tooltip-muted: var(----chart-tooltip-muted);
    --color-chart-tooltip-foreground: var(----chart-tooltip-foreground);
    --color-chart-tooltip-background: var(----chart-tooltip-background);
    --chart-brush-border: var(----chart-brush-border);
    --color-chart-grid: var(----chart-grid);
    --color-chart-crosshair: var(----chart-crosshair);
    --chart-line-secondary: var(----chart-line-secondary);
    --chart-line-primary: var(----chart-line-primary);
    --color-chart-foreground-muted: var(----chart-foreground-muted);
    --color-chart-foreground: var(----chart-foreground);
    --color-chart-background: var(----chart-background);
}

:root {
    --background: oklch(0.9851 0 0);
    --foreground: oklch(0.2225 0.0019 286.2428);
    --card: oklch(0.9940 0 0);
    --card-foreground: oklch(0.2225 0.0019 286.2428);
    --popover: oklch(0.9940 0 0);
    --popover-foreground: oklch(0.2225 0.0019 286.2428);
    --primary: oklch(0.6519 0.2243 22.8126);
    --primary-foreground: oklch(0.9851 0 0);
    --secondary: oklch(0.9702 0 0);
    --secondary-foreground: oklch(0.2686 0 0);
    --muted: oklch(1.0000 0 0);
    --muted-foreground: oklch(0.5804 0.0479 256.0004);
    --accent: oklch(0.6519 0.2243 22.8126);
    --accent-foreground: oklch(0.9851 0 0);
    --destructive: oklch(0.5613 0.2279 25.4978);
    --border: oklch(0.9747 0.0051 247.8765);
    --input: oklch(0.9747 0.0051 247.8765);
    --ring: oklch(0.6519 0.2243 22.8126);
    --chart-1: oklch(0.6519 0.2243 22.8126);
    --chart-2: oklch(0.6198 0.1423 62.3013);
    --chart-3: oklch(0.3582 0.0609 199.6799);
    --chart-4: oklch(0.4780 0.1581 141.2380);
    --chart-5: oklch(0.7019 0.1251 280.6228);
    --radius: 0.5rem;
    --sidebar: oklch(0.9702 0 0);
    --sidebar-foreground: oklch(0.2225 0.0019 286.2428);
    --sidebar-primary: oklch(0.6519 0.2243 22.8126);
    --sidebar-primary-foreground: oklch(0.9851 0 0);
    --sidebar-accent: oklch(0.9747 0.0051 247.8765);
    --sidebar-accent-foreground: oklch(0.2225 0.0019 286.2428);
    --sidebar-border: oklch(0.9747 0.0051 247.8765);
    --sidebar-ring: oklch(0.6519 0.2243 22.8126);
    --destructive-foreground: oklch(1.0000 0 0);
    --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Noto Serif, ui-serif, serif;
    --font-mono: JetBrains Mono, ui-monospace, monospace;
    --shadow-color: oklch(0 0 0);
    --shadow-opacity: 0.1;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: -0.025em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 4px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 4px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 4px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 4px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 4px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 4px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: -0.025em;
    --chart-background: oklch(1 0 0);
    --chart-foreground: oklch(0.145 0.004 285);
    --chart-foreground-muted: oklch(0.55 0.014 260);
    --chart-line-primary: var(--chart-1);
    --chart-line-secondary: var(--chart-2);
    --chart-crosshair: oklch(0.4 0.1828 274.34);
    --chart-grid: oklch(0.9 0 0);
    --chart-brush-border: var(--chart-grid);
    --chart-tooltip-background: oklch(0.21 0.006 285 / 0.8);
    --chart-tooltip-foreground: oklch(0.985 0 0);
    --chart-tooltip-muted: oklch(0.65 0.01 260);
    --chart-marker-background: oklch(0.97 0.005 260);
    --chart-marker-border: oklch(0.85 0.01 260);
    --chart-marker-foreground: oklch(0.3 0.01 260);
    --chart-label: oklch(0.45 0.01 260);
    --chart-scale-01: oklch(0.98 0.003 106);
    --chart-scale-02: oklch(0.92 0.008 106);
    --chart-scale-03: oklch(0.82 0.015 106);
    --chart-scale-04: oklch(0.68 0.02 106);
    --chart-scale-05: oklch(0.55 0.025 106);
    --chart-scale-pattern-color: oklch(0.96 0.005 106);
}

.dark {
    --background: oklch(0.2225 0.0019 286.2428);
    --foreground: oklch(0.9851 0 0);
    --card: oklch(0.2152 0.0078 285.7277);
    --card-foreground: oklch(0.9851 0 0);
    --popover: oklch(0.2686 0 0);
    --popover-foreground: oklch(0.9851 0 0);
    --primary: oklch(0.6519 0.2243 22.8126);
    --primary-foreground: oklch(0.9851 0 0);
    --secondary: oklch(0.2686 0 0);
    --secondary-foreground: oklch(0.9851 0 0);
    --muted: oklch(0.2825 0.0073 285.9263);
    --muted-foreground: oklch(0.9649 0.0011 17.1784);
    --accent: oklch(0.6519 0.2243 22.8126);
    --accent-foreground: oklch(0.9851 0 0);
    --destructive: oklch(0.7357 0.1622 19.5939);
    --border: oklch(0.3715 0 0);
    --input: oklch(0.3715 0 0);
    --ring: oklch(0.6519 0.2243 22.8126);
    --chart-1: oklch(0.7866 0.1239 20.2335);
    --chart-2: oklch(0.7749 0.1653 61.9791);
    --chart-3: oklch(0.4600 0.0782 198.3565);
    --chart-4: oklch(0.7118 0.1987 139.7296);
    --chart-5: oklch(0.7813 0.1067 280.6776);
    --sidebar: oklch(0.2225 0.0019 286.2428);
    --sidebar-foreground: oklch(0.9851 0 0);
    --sidebar-primary: oklch(0.7357 0.1622 19.5939);
    --sidebar-primary-foreground: oklch(0.9851 0 0);
    --sidebar-accent: oklch(0.2686 0 0);
    --sidebar-accent-foreground: oklch(0.9219 0 0);
    --sidebar-border: oklch(0.3715 0 0);
    --sidebar-ring: oklch(0.7357 0.1622 19.5939);
    --destructive-foreground: oklch(0.9851 0 0);
    --radius: 0.5rem;
    --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Noto Serif, ui-serif, serif;
    --font-mono: JetBrains Mono, ui-monospace, monospace;
    --shadow-color: oklch(0 0 0);
    --shadow-opacity: 0.1;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: -0.025em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 4px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 4px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 4px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 4px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 4px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 4px 0px hsl(0 0% 0% / 0.25);
    --chart-background: oklch(0.145 0 0);
    --chart-foreground: oklch(0.45 0 0);
    --chart-foreground-muted: oklch(0.65 0.01 260);
    --chart-crosshair: oklch(0.45 0 0);
    --chart-grid: oklch(0.25 0 0);
    --chart-brush-border: var(--chart-grid);
    --chart-marker-background: oklch(0.25 0.01 260);
    --chart-marker-border: oklch(0.4 0.01 260);
    --chart-marker-foreground: oklch(0.9 0 0);
    --chart-label: oklch(0.75 0.01 260);
    --chart-scale-01: oklch(0.28 0.03 270);
    --chart-scale-02: oklch(0.38 0.04 270);
    --chart-scale-03: oklch(0.48 0.05 270);
    --chart-scale-04: oklch(0.58 0.06 270);
    --chart-scale-05: oklch(0.68 0.07 270);
    --chart-scale-pattern-color: oklch(0.145 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    }
  html {
    @apply font-sans;
    }
}
  ::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}